<fieldset>
    <legend>USER LIST</legend>
    <nav>
        <button (click)="navigateToUsers()">
            <img src="assets/icons/group.svg" alt="group icon" />
        </button>
        <button (click)="navigateToAddList()">
            <img src="assets/icons/person_add.svg" alt="person_add icon" />
        </button>
        <button (click)="deleteUsers()">
            <img src="assets/icons/person_remove_all.svg" alt="person_remove_all icon" />
        </button>
    </nav>
    <router-outlet></router-outlet>
    <footer>
        <div id="devider"></div>
        <li><a href="/users">New List</a></li>
        <li><a href="/users/add">Add User</a></li>
        <div style="font-size: small;">Homework</div>
    </footer>
</fieldset>
<a href="#" id="up">
    <img src="assets/icons/double_arrow_up.svg" alt="double_arrow_up icon" />
</a>
<!-- <app-user-list></app-user-list> -->